<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Or Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container p-5">
        
        <div class="row">
            <div class="col-sm-5 bg-light border rounded py-3">
                <h2 class="text-center">Password Reset</h2>
                <form action="/resetPassword" method="POST">
                    <div class="form-group">
                      <label for="_email">Email</label>
                      <input type="text" name="user_email" id="_email" class="form-control" placeholder="Email" rnodeequired>
                    </div>
                    <% if (locals.login_errors) { 
                      login_errors.forEach(function(error_msg){ %>
                      <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                    <% });
                    } %>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
            </div>
    </div>
</body>