<html>


    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login Or Register</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
<body>

<div class="container p-5"> 
    <div class="card">
        <div class="card-body">
                
                <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-12 bg-light border rounded py-3">
            <h2 class="text-center">Details</h2>
            <form action="/update" method="get">
                <div class="form-group">
                    <label for="_email">First Name:</label> <label><%= fname %></label>
                    
                </div>

                <div class="form-group">
                    <label for="_email">Last Name: </label><label><%= lname %></label>
                    
                </div>

                <div class="form-group">
                <label for="_email">Email:</label> <label><%= email %></label>
                
                </div>
                
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>